@import "/node_modules/css-reset-and-normalize/scss/reset-and-normalize.scss";
@import "/node_modules/css-reset-and-normalize/scss/button-reset";
@import "/node_modules/css-reset-and-normalize/scss/link-reset";

:root {
  font-size: clamp(14px, 1.25vw, 16px);
  direction: rtl;
}

body {
  text-align: unset;
}
